* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.row,
.billete {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.row img {
    height: 350px;
    width: 350px;
    border-radius: 100%;
    overflow: hidden;
}

.billete img {
    height: 250px;
}

.img-home {
    position: absolute;
    z-index: -1;
}

.text-home {
    position: absolute;
    z-index: 1;
    width: 500px;
}

.box-mancha {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}

.box-mancha p {
    font-size: 25px;
    margin-right: 100px;
    font-family: 'Open Sans', sans-serif;
}

.space {
    display: flex;
    justify-content: space-around;
}

.text {
    font-size: 25px;
    margin-right: 190px;
    font-family: 'Open Sans', sans-serif;
}

.box-mancha-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border:solid 1px red; */
    width: 60%;
}

.box-mancha-2 p {
    font-size: 25px;
    margin-right: 100px;
    font-family: 'Open Sans', sans-serif;
}

.button-footer {
    padding: 2rem;
    display: flex;
    width: 90%;
    justify-content: flex-end;
}

.logo {
    height: 65px;
}

.home {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    color: #414141;
}